@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&family=Sedgwick+Ave&display=swap');
body
{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #111;
    font-family: 'Sedgwick Ave', cursive;
}

h1
{
    margin: 0;
    padding: 0;
    color: #222;
    font-size: 8em;
}

h1 span
{
    display: table-cell;
    margin: 0;
    padding: 0;
    animation: glow 3s linear infinite;
}

h1 span:nth-child(1)
{
    animation-delay: 0.25s;
}
h1 span:nth-child(2)
{
    animation-delay: 0.5s;
}
h1 span:nth-child(3)
{
    animation-delay: 0.75s;
}
h1 span:nth-child(4)
{
    animation-delay: 1s;
}
h1 span:nth-child(5)
{
    animation-delay: 1.25s;
}
h1 span:nth-child(6)
{
    animation-delay: 1.5s;
}
h1 span:nth-child(7)
{
    animation-delay: 1.75s;
}
h1 span:nth-child(8)
{
    animation-delay: 2s;
}
h1 span:nth-child(9)
{
    animation-delay: 2.25s;
}
h1 span:nth-child(10)
{
    animation-delay: 2.5s;
}
h1 span:nth-child(11)
{
    animation-delay: 2.75s;
}
h1 span:nth-child(12)
{
    animation-delay: 3s;
} 


@keyframes glow
{
    0%,100%
    {
        color: #fff;
        filter: blur(2px);
        text-shadow: 0 0 10px #00ff55,
                     0 0 20px #00ff55,
                     0 0 40px #00ff55,
                     0 0 80px #00ff55,
                     0 0 100px #00ff55,
                     0 0 200px #00ff55,
                     0 0 300px #00ff55,
                     0 0 400px #00ff55;
    }
    5%,95%
    {
        color: #222;
        filter: blur(0px);
        text-shadow: none;
    }
}
